* {
  margin: 0;
  padding: 0;
  font-family: Bitter;
}
.root {
  height: 100vh;
  background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url("canva.jpg");
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  position: relative;
}
h2 {
  color: cadetblue;
  margin: 20px;
  text-align: center;
  font-size: 4rem;
}
span{
    color: white;
}

a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
}
.root div {
  margin: 20px;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0px 10px 50px 0.2px rgba(255, 255, 255, 0.25);
    border-radius: 15px;
}
.arrange div {
    margin: 60px;
    padding: 20px;
    box-shadow: 0px 0px 30px 0.9px rgba(20, 13, 13, 0.8);
    border: 2px ridge transparent;
    transition: 0.5s ease-out;
    position: relative;
}
.arrange div:hover{
    border: 2px ridge cadetblue;
    transition: 0.5s ease-in;
    font-weight: bold;

}
.arrange div:hover i{
    color: white;
    transition: 0.4s ease-in-out;
}
i{
    right: 100px;
    position: absolute;
    color: cadetblue;
    transition: 0.4s ease-in-out;
}