body {
  font-family: Bitter;

  height: 100vh;
  background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("images/choose.jpg");
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  position: relative;
  color: white;
}

.click-these-area{
  width: 300px;
  border: 3px ridge cornflowerblue;
  margin: 0 40px;
}
.click-these-area:hover{
  opacity: 0.8;
}

.green-top{
  background-color: cornflowerblue;
  color: white;
  padding: 3px 25px;
}

.highlight:hover {
  opacity: 0.5;
  font-size: 20px;
  cursor: copy;

}
.it-goes-here-area{
  width: 300px;
  border: 3px solid cadetblue;
  position: absolute;
  right: 0px;
  bottom: 30px;
  margin: 0 30px;
}

.red-top{
  background-color: cadetblue;
  color: white;
  padding: 3px 25px;
}
h1{
  text-align: center;
  padding: 20px;
  font-size: 5rem;
}